<footer class="footer-container">

    <div class="text-center center-block">
        <br />

        <a href="https://www.facebook.com/romikabhatia"><i class="fa fa-facebook-square"></i></a>

    </div>
    <div class="footer-left">

        <p class="footer-links">
            <a href="/">Home</a>
            |
            <a href="/about">About me</a>
            |
            <a href="/contact">Contact</a>

        </p>
</div>

</footer>
</body>
</html>

