<%- include partials/header.ejs %>
<div class="container-about" style="background-image: none">
<div class="col-lg-12 text-center v-center">
        <div class="container bounceInDown animated">
        <h1 class="heading">A Little About Me</h1></div>
       <p class = "info">My name is Romika Bhatia. I am a computer programmer student, studing in georgain college. I am programmer
           who loves to write, update and also maintain computer programs or software </br>

        </p>
        <img class="about-image" src="../images/about.jpeg" height="300px"></div>
</div>
    </div>
<% include partials/footer.ejs %>