<!--
File Name: service.ejs
Author: Romika Bhatia
Website Name: Romika bhatia Portfolio
Description: This is the about me page. In the page i described myself.
-->
<%- include partials/header.ejs %>
<div class="container-about" style="background-image: none">
<div class="col-lg-12 text-center v-center">
        <div class="container bounceInDown animated">
        <h1 class="heading">A Little About Me</h1></div>
       <p class = "info">My name is Romika Bhatia. I am a computer programmer student, studing in georgain college. I am programmer
           who loves to write, update and also maintain computer programs or software. Along with programming i enjoy creating web pages.
           I spend most of time learning code from website.<br></p>
        <p class="info">Basically I am from Ludhiana, India. I love reading books in the  free time. I am currently a full time student at
            Georgian College, Barrie studied in Computer Programmer, Program.

        </p>
    <img class="about-image" src="../images/about.jpeg" height="300px">

</div>
</div>
    </div>
<% include partials/footer.ejs %>