<%- include partials/header.ejs %>
<div class="container-about" style="background-image: none">
<div class="col-lg-12 text-center v-center">
        <div class="container bounceInDown animated">
        <h1 class="heading">A Little About Me</h1></div>
       <p class = "info">My name is Romika Bhatia. I am a computer programmer student, studing in georgain college.</br>
        i  am a programmer who loves to write maintain and also update software packages or computer programs to handle specific jobs.</br>
        Along with programming, I love taking up projects that challenging me technically as welll as creatively,</br>
        In my spare time I spend most of my time learning code from website, reading Books as well.
        </p>
        <img class="about-image" src="../images/about.jpeg" height="300px"></div>
</div>
    </div>
<% include partials/footer.ejs %>