<% include partials/header.ejs %>
<main class="container">
    <h1><%= title %></h1>
    <form action="index" method="post" enctype="text/plain">
        Name:
        <br>
        <input type="text" name="name" value="your name">
        <br> E-mail:
        <br>
        <input type="text" name="mail" value="your email">
        <br> Comment:
        <br>
        <input type="text" name="comment" value="your comment" size="50">
        <br>
        <br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>

    <h1 class="text-center home-title">Romika Bhatia</h1>
    <h3 class="text-center typed-header-sub-title"></h3>
    <ul class="social-links">
        <li><a title="Facebook profile" href="https://www.facebook.com/profile.php?id=100008268939979">Facebook</a></li>
        <li><a title="Google plus profile" href="https://plus.google.com/101340480310801355869/about">Google+</a></li>
    </ul>

</main>


<% include partials/footer.ejs %>