
<!--
File Name: index.ejs
Author: Romika Bhatia
Website Name: romika bhatiaPortfolio
Description: This is the home page
-->

<%- include partials/header.ejs %>

<div class = "container-full" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8);">
  <div class ="row">
    <div class ="container fadeInDown animated">
      <div class = "text-center">
        <p class= "container"> Hello, I Am </p>
        <h1> Romika Bhatia</h1>
        <div class="container">

          <p class = "lead">I am Programmer currently studying Computer Programming in Georgian College, from Barrie, Ontario.
            I enjoy building websites. If some employer looking to make a productive presence on the web or an employer looking to hire,
            please contact me <a href="/contact">here.</a>
          </p>
        </div>
      </div>
    </div>
    <div class = "text-center right-center">
      </br>
      <a href = "https://www.facebook.com/Romika Bhatia81"><i class="fa fa-facebook-square fa-3x social"></i></a>
    </div>

  </div>
</div>