<%- include partials/header.ejs %>
<div class="container-projects" style="background-image: url('../images/background.jpg');">
    <div class="col-lg-12 text-left v-left">
        <h1 class="heading">Projects</h1>
        <table class="project-icon">
            <center>
                <tr>

                    <td class="td-column"><img src="../images/mgd.png" width="300px" height="200px"></td>

                    <td class="td-column"><img src="../images/oracle.png" width="300px" height="150px"></td>

                </tr>
                <tr>
                    <td class="td-column"><a class="project-links" href="http://www.miguymobile.com/">miGuy Mobile</a></td>
                    <td class="td-column"><a class="project-links" href="http://www.miguymobile.com/">Oracle and Jave </a></td>
                </tr>
            </center>
        </table>

        <h1 class="heading">Currently working on Mobile Apps for</h1>
        <table class="project-icon">
            <center>
            </center>
        </table>


    </div>
</div>
<%- include partials/footer.ejs %>
