<% include partials/header.ejs %>
<main class="container">
    <h1><%= title %></h1>
    <p>Hobbies and Intrest <%= title %>
    <ul>
        <li>Programming new things and applications</li>
        <li>Love Coading</li>
    </ul>
    </p>
</main>

<% include partials/footer.ejs %>