<!--
File Name: service.ejs
Author: Romika Bhatia
Website Name: Romika bhatia Portfolio
Description: This is the service page
-->
<% include partials/header.ejs %>
<main class="container">
    <h1><%= title %></h1>
    <p>Hobbies and Interest<%= title %>
    <ul>
        <li>Programming new things and applications</li>
        <li>Love Coading</li>
        <li>CSS3</li>
        <li>MySql</li>
    </ul>
    </p>
</main>

<% include partials/footer.ejs %>