/*
File Name: style.css
Author: Romika Bhatia
Website Name: romika BhatiaPortfolio
Description: The following code is the bootstrap/css stylesheet which is linked to the header.ejs
This style is a custom style for various classes throughout the Website


/** CSS Stylesheet **/

body
{
  padding: 5px;
  font: 15px "Lucida Grande", Arial, sans-serif;
  font-style: normal;
  height: 100%;
}
h2{
  margin-bottom: 20px;
  color: #474E69;
}
font-face
{
  font-family: Georgia;
}
.content{
  height: 100%;
}
/* style for header.ejs **/
h1.name{
  font-family: Arial;
  font-size: 120px;
}
input,textarea{
  padding: 10px;
  border: 1px solid #e5e5e5;
  width: 200px;
  box-shadow: rgba(0, 0, 0,0.1) 0px 0px 7px;
}
textarea{
  width:350px;
  height:150px;
  max-width: 400px;
  line-height: 19px;
}
.form label{
  margin-left: 10px;
  color: #999999;
}

.submit input{
  width: 100px;
  height: 50px;
  background-color: #474E69;
  color: #FFF;
  border-radius: 3px;
}

/**  Style fir the footer.ejs **/
.footer-container {
  height: auto;
  background-color: rgba(240, 233, 236, 0.66);
}

body{
  background-image: url('../images/background.jpg');
}
.ruhi{
  about-image:url('../images/about.jpeg');
}
.ruhi{
  chicken-image:url('../images/chicken-on-the-run-.jpg');
}
