/*
File Name: style.css
Author: Romika Bhatia
Website Name: romika BhatiaPortfolio
Description: The following code is the bootstrap/css stylesheet which is linked to the header.ejs
This style is a custom style for various classes throughout the Website




/** CSS Stylesheet **/

body
{
  padding: 5px;
  font: 15px "Lucida Grande", Arial, sans-serif;
  height: 100%;
}
font-face
{
  font-family: Georgia;
}
.content{
  height: 100%;
}
/* style for header.ejs **/
h1.name{
  font-family: Arial;
  font-size: 120px;
}

/**  Style fir the footer.ejs **/
.footer-container {
  height: auto;
  background-color: rgba(240, 233, 236, 0.66);
}

body{
  background-image: url('../images/background.jpg');
}
.ruhi{
  about-image:url('../images/about.jpeg');
}
.ruhi{
  chicken-image:url('../images/chicken-on-the-run-.jpg');
}
